.sections-nav {
    display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    

    ul {
        display: flex;
        align-items: center;
    }
    
    li {
		margin-left: 10px;
		border-right: 1px solid $light-gray;
    }

    button {
		background: none;
		padding: 0px;
		color: #000;
		font-weight: normal;
        border: none;
        margin-right: 10px;
    }

    button:hover {
        text-decoration: underline;
        background-color: $lightest-gray;
    }

}