<h1> New Cat </h1>

<form action = "<%= cats_url%>" method = "post"> 
    <label> Name 
    <input type = "text" name = "cat[name]" value = "<%= @cat.name %>">
    </label>

    <label> Color </label>

    <label> Birth_date </label>

    <label> Sex 
     <input type = "radio" name = "cat[sex]" value = "<%= @cat.sex %>">
    </label>
    
    <label> Description </label>
    

</form>